@font-face {
    font-family: "TTLakes";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/TTLakes-Light.ttf");
}

@font-face {
    font-family: "TTLakesBold";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/TTLakes-Bold.ttf");
}

* {
    padding: 0;
    margin: 0;
    font-family: "TTLakes", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 700;
}

body {
    position: fixed;
    left: 0%;
    width: 320px;
    box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.header {
    width: 320px;
    background-color: #fff;
    height: 86px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main {
    width: 320px;
    background-color: #fff;
    padding: 30px 0px;
    overflow-y: auto;
    flex-grow: 1;
}

.footer {
    width: 320px;
    background-color: #fff;
    padding-top: 23px;
}

.header__left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 24px;
}

.header__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 24px;
}

.button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    background-color: #FF3E79;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 200ms;
    transition-property: transform, box-shadow;
}

.button:hover {
    transform: scale(1.2);
    transition-property: transform, box-shadow;
    transition: 200ms;
    background: linear-gradient(#FF4E89, #FF3E79);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}

.button__icon {
    height: 20px;
    width: 20px;
    transition: 200ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover .button__icon {
    transform: scale(1.3);
    transition: 200ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button__icon-close {
    width: 16px;
    height: 16px;
}

.button__icon-close span,
.button__icon-close span::after {
    display: block;
    width: 21px;
    height: 2px;
    border-radius: 1px;
    background-color: #fff;
    content: '';
}

.button__icon-close span::after {
    transform: rotate(90deg)
}

.button__icon-close span {
    transform: rotate(45deg)
}

.button:hover .button__icon-close {
    transform: scale(1.3) rotate(90deg);
}

.logo-svg {
    margin-left: 16px;
    background: url('img/logo.svg');
    height: 51px;
    width: 97px;
}

.button__icon-search {
    background-image: url(img/icon-search.svg);
}

.button__icon-phone {
    background: url('img/icon-phone.svg');
}

.button__icon-chat {
    background: url('img/icon-chat.svg');
}

.button__icon-profile {
    background: url('img/icon-profile.svg');
}

.button__icon {
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.list {
    max-width: max-content;
}

.list__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 200ms;
    height: 44px;
}

.list__item--hover {
    width: 20px;
    height: 32px;
    border-left: 4px solid transparent;
    transition: 300ms;
}

.list__item:hover .list__item--hover {
    border-left: 4px solid #41F6D7;
}

.list__item a {
    color: #1B1C21;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    transition: 300ms;
}

.list__item:hover a {
    color: #7E7E82;
}

.community {
    /*проверить этот блок */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    margin-left: 24px;
}

.footer__mail {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 56px;
    margin-left: 24px;
}

.footer__number {
    margin-left: 24px;
}

.number {
    font-size: 24px;
    line-height: 32px;
    font-family: 'TT Lakes', Calibri, sans-serif;
}

.footer__langs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 86px;
    gap: 7px;
    margin-left: 24px;
}

.footer__lang a {
    text-decoration: none;
    color: #1B1C21;
    transition: 200ms;
}

.footer__lang:hover a {
    color: #7E7E82;
    transition: 200ms;
}